@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
	font-family: Roboto, sans-serif;
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 5fr;
}

.sidebar {
	grid-row: 1 / 3;
	background-color: #1992d4;
	color: white;
}

.header {
	display: grid;
	grid-template-columns: 5fr 3fr;
	grid-template-rows: 1fr 1fr;
	box-shadow: 0px 1px 3px gray;
	z-index: 1;
	padding: 10px;
}

.search-bar {
	padding: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: grid;
	gap: 5px;
	grid-template-columns: 50px 1fr;
	align-items: center;
}

.search-bar input {
	background-color: #e2e8f0;
	border: 0;
	border-radius: 22px;
	font-size: 28px;
	padding: 4px;
}

.user-info {
	display: flex;
	gap: 32px;
	align-items: center;
	justify-content: center;
}

.user-icon {
	width: 70px;
}

.user-icon-large {
	width: 100px;
}

.user-name {
	font-size: 24px;
	font-weight: bold;
}

.welcome {
	display: grid;
	grid-template-columns: 100px 1fr;
	gap: 25px;
	align-items: center;
	margin-left: 40px;
	font-weight: bold;
	font-size: 18px;
}

.hi-user {
	padding-top: 8px;
	font-size: 30px;
}

.main {
	display: grid;
	gap: 25px;
	grid-template-columns: 5fr 2fr;
	grid-template-rows: 1fr 1fr;
	background-color: #e2e8f0;
	padding: 30px;
}

.projects {
	grid-row: 1 / 3;
}

.project-cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 25px;
}

.icon {
	height: 2em;
}

.sidebar .icon {
	filter: invert(1);
}

.buttons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
}

.buttons button {
	border: 0;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: #1992d4;
	border-color: #1992d4;
	border-radius: 25px;
	width: 6.5em;
	height: 2.5em;
}

.main .title {
	font-size: 26px;
	font-weight: bold;
	margin-top: 20px;
	padding-bottom: 20px;
}

.card {
	background-color: white;
	border-radius: 15px;
	padding: 35px;
	display: grid;
	box-shadow: 3px 7px 7px lightgray;
}

.project-cards .card {
	background: linear-gradient(to right, #f0b429 2%, white 2% 100%);
	grid-template-rows: 32px 4fr 1fr;
}

.announcements .card {
	grid-auto-rows: auto;
}

.trending .card {
}

.card .title {
	margin: 0;
	padding: 0;
	font-size: 24px;
}

.card .description {
	font-size: 22px;
	color: gray;
}

.card .icons {
	display: grid;
	grid-template-columns: 4fr 1fr 1fr;
	justify-items: end;
}

.sidebar ul {
	list-style-type: none;
	display: grid;
	gap: 30px;
	grid-template-columns: 1fr 10fr;
	justify-items: start;
	align-items: end;
	margin-top: 4em;
	margin-bottom: 4em;
	padding-left: 30px;
}

.sidebar li {
	font-weight: bold;
	font-size: 1.75em;
}

.announcement .title {
	margin-left: 5px;
	padding: 2px;
	font-size: 18px;
}

.announcement .description {
	margin-left: 5px;
	margin-right: 5px;
	padding: 2px;
	font-size: 16px;
}

h1 {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 10fr;
	justify-items: start;
	align-items: center;
	padding-left: 20px;
}

hr {
	border-top: 2px solid lightgrey;
	width: 320px;
	text-align: center;
	padding: 0;
	margin-top: 15px;
	margin-bottom: 15px;
}
