@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	font-family: Roboto, sans-serif;
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 8fr;
}

/* body > * { */
/* 	outline: 1px solid red; */
/* } */

.sidebar {
	grid-row: 1 / 3;
	background-color: #1992d4;
	color: white;
}

.header {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 2fr;
	box-shadow: 0px 1px 3px gray;
	z-index: 1;
	padding: 10px;
}

.main {
	display: grid;
	gap: 20px;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 1fr;
	background-color: #e2e8f0;
	padding: 10px;
}

.projects {
	grid-row: 1 / 3;
	display: grid;
}

.icon {
	height: 1.75em;
	filter: invert(1);
}

ul {
	list-style-type: none;
	display: grid;
	gap: 15px;
	grid-template-columns: 1fr 10fr;
	justify-items: start;
	align-items: end;
	margin-top: 3em;
	margin-bottom: 4em;
	padding-left: 35px;
}

li {
	font-weight: bold;
	font-size: 1.5em;
}

h1 {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 10fr;
	justify-items: start;
	align-items: center;
	padding-left: 20px;
}
