@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	font-family: Roboto, sans-serif;
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr 8fr;
}

.sidebar {
	grid-row: 1 / 3;
}

.header {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 2fr;
}

.main {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.projects {
	grid-row: 1 / 3;
}
